/*Global*/
:root {
  --bg-color: #C5C5C5;
  /* --bg-color: #FFFFF; */
  --red: #E34747;
  --navy: #092860;
  --pink: #D17195;
  --purple: #8300E1;
  --teal: #C5E6E8;
  --yellow: #ECAE5E;
}

html {
  font-family: 'Futura', 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--bg-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  max-width: 2000px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

